.post {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0px auto;
  margin-bottom: 5%;
}

.post.expanded {
  background-color: #f9f9f9; /* Light background for expanded post */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.post-header {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.5rem;
}

.post-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.post-content {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-comments {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.post-comments h4 {
  margin-bottom: 1rem;
}

.post-comments ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.post-comments li {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}

textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
}

button {
  padding: 0.5rem 1rem;
  background-color: #0079d3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}
